<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>25839991556-qoaavs3ancdi9hcr0c3jhbn9ancb7sgg.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.25839991556-qoaavs3ancdi9hcr0c3jhbn9ancb7sgg</string>
	<key>API_KEY</key>
	<string>AIzaSyDE9rhHQvEM9z5uIVEmCHTr_9OQONDwd34</string>
	<key>GCM_SENDER_ID</key>
	<string>25839991556</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.ddStudy22Ui</string>
	<key>PROJECT_ID</key>
	<string>dd-study-22-9ab71</string>
	<key>STORAGE_BUCKET</key>
	<string>dd-study-22-9ab71.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:25839991556:ios:1323d9c1e985f5a5c76e51</string>
</dict>
</plist>